<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <head>
        <title>New Book</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: tomato">
        <div>
            <a href="/" class="navbar-brand">Library</a>
        </div>
    </nav>
</header>
<br>
<div class="container col-md-5">
    <div class="card">
        <div class="card-body">
            <caption>
                <h2>
                        Lend book
                </h2>
            </caption>
            <form action="/lendBook" modelAttribute="${book}" method="post" >
                <fieldset class="form-group">
                    <label>ISBN</label> <input readonly type="number" required minlength="13" maxlength="13" th:value="${book.isbn}" name="isbn" class="form-control"/>
                </fieldset>
                <fieldset class="form-group">
                    <label>Title</label> <input readonly required th:value="${book.title}" name="title" class="form-control" />
                </fieldset>
                <fieldset class="form-group">
                    <label>Author</label>
                    <input readonly required th:value="${book.author}" name="author" class="form-control"/>
                </fieldset>
                <fieldset class="form-group" modelAttribute="${listReaders}" method="post">
                        <label>Lend book to:</label>
                        <select class="form-control" id="dropDownList" name="idReader">
                            <option th:each="option : ${listReaders}" th:value="${option.getId()}" th:text="${option.getSurname()}+' '+${option.getName()}"></option>
                        </select>
                </fieldset>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>
</body>
</html>